.quote {
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    color: #000;
}
@media (max-width: 991.98px) {
    .quote {
        font-size: 24px;
    }
}
.quote .fa-quote-left,
.quote .fa-quote-right {
    position: relative;
    top: -14px;
    font-size: 20px;
    margin: 0 10px;
}
@media (max-width: 991.98px) {
    .quote .fa-quote-left,
    .quote .fa-quote-right {
        font-size: 16px;
    }
}
.quote .small,
.quote small {
    display: block;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 20px;
}